:root {
	--primaryColor: #000000bd;
	--pageColor: #ddd0c8;
	--headerFont: "Playfair Display", serif;
	--textFont: "Lora", serif;
}
.AboutPage {
	margin: 0 auto;
	padding: 20px 30px;
	background: #ddd0c8;
	font-family: var(--headerFont);
}
@media (max-width: 900px) {
	.img-container {
		display: none;
	}
}
