:root {
	--primaryColor: #000000bd;
	--pageColor: #ddd0c8;
	--headerFont: "Playfair Display", serif;
	--textFont: "Lora", serif;
}
.AboutPage {
	padding: 20px 30px;
	background: #ddd0c8;
	font-family: var(--headerFont);
	margin: 0 auto;
}
p {
	font-family: var(--textFont);
}
.profile {
	max-height: 500px;

}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
	align-items: center;
	justify-content: center;
}
.grid img {
	border-radius: 3px;
	width: 1000px;
	height: 200px;
	object-fit: cover;
}
.AboutPage h3 {
	font-size: 40px;
}
.AboutPage .text {
	margin-top: 100px;
}

@media (max-width: 900px) {
	.img-container {
		display: none;
	}
	.grid {
		display: none;
	}
	.text {
		margin-top: 10px !important;
	}
	.header {
		margin-top: 5px !important;
	}
	.AboutPage h3 {
		font-size: 25px;
	}
}
