:root {
	--primaryColor: #000000bd;
	--pageColor: #ddd0c8;
	--headerFont: "Playfair Display", serif;
	--textFont: "Lora", serif;
}
.Footer {
	font-family: var(--textFont);
}
.Footer a {
	color: #666361;
}
